mat-form-field {
  display: block;
}

h1 {
  font-family: GoogleSansBold, sans-serif !important;
  color: #626161;
}

p {
  font-family: GoogleSans, sans-serif !important;
}

.mat-mdc-card-header{
  align-self: center;
}

.main-div{
  height: 100vh;
  display: contents;
  justify-content: center;
  align-items: center;
}

.mat-mdc-icon-button{
  color: #397CC0;
}

.mat-mdc-dialog-actions {
  justify-content: end;
  padding-right: 25px;
}
