<div class="main-div">
  <h1 mat-dialog-title>Recover Password</h1>
  <div mat-dialog-content>
    <p>We'll send an email to your email address for you can change your password.</p>
    <br>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail" type="text" name="username" [(ngModel)]="email"
             required>
      <mat-error>
        Please, enter your e-mail
      </mat-error>
    </mat-form-field>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-raised-button color="accent" [disabled]="!email" (click)="recoverPassword()">Recover Password</button>
  </div>
</div>
