.main-div {
  height: 100vh;
  display: contents;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: GoogleSansBold, sans-serif !important;
  color: #626161;
  text-align: center;
}

.mat-mdc-progress-spinner {
  margin: 0 auto;
  width: 65px;
  height: 65px;
}
